@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 73px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar {
  background: #0a3a55;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 2px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

nav.improv {
  ul {
    li a {
      color: #fff;
      padding: 25px 15px;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 11px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  display: inline;

}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

a.btn-go:visited {
    color: #ffffff !important;
  }

div.alert {
  border: #71A4BD solid 1px;
  h3 {
    font-size: 22px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0;
    color: #184961;
  }
  p {
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #555;
  }
}

.alert-info {
  background-color: #D5E8F2;
  hr {
    border-top-color: #71A4BD;
  }
}

.edit {
  margin-top: 15px;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}

table tr td {
  min-width: 95px;
  vertical-align: middle !important;
  text-align: center;
}

.btn-table {
  padding: 6px;
  margin: 4px;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.importcsvfield {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}


.toright{
  float: right;
  margin: 4px;
}

li.c2 > a:link,
li.c2 > a:active,
li.c2 > a:hover,
li.c2 > a:visited {
  color: black;
}