<footer class="footer col-md-12">
  <small>
    por Héttori Tosi em  <a href="http://www.studiare.com.br/">Studiare</a> | versão 3.2.0
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre", about_path  %></li>
    </ul>
  </nav>
</footer>